{% extends 'base.html' %}
{% load static %}




 {% block menu %}

 <div class="abouttxt">
    <h2 style="font-family: Poppins; color: #0E44AC;">Haqqımızda</h2>
    <h5>Texnoera.az</h5>
 </div>
    <div class="abouttxt">
        
        <p>Texnoera olaraq biz gəncləri , cəmiyyətimizi İKT sahəsində məlumatlandırmaq , İT və dizayn  sahədəki ən son dəyişiklikləri, texnologiya sahəsi üzrə layihə, təlim, seminar, vakansiyalar və yenilikləri sizə çatdırmaq üçün fəalliyyət göstəririk.  Hədəfimiz gənclərin İKT sahəsində inkişafı üçün təhsil imkanları barədə onlara məlumat vermək, onların bilik və bacarıqlarının inkişaf etdirilməsi istiqamətində təşəbbüslərini dəstəkləməkdir.</p> 
        <p></p>
        <p>Texnoera vasitəsi ilə karyerasını İKT sahəsində qurmaq istəyən gənclərimiz yerli və xarici şirkətlər əməkdaşlıq nəticəsində yaratdığımız iş imkanlarından faydalana biləcəklər. İKT sahəsində təhsil alan tələbələrin öz bilik və bacaqlarını inkişaf etdirmələri üçün  həyata keçirəcəyimiz tədbirlər, təlimlər, seminarlar, layihələr faydala biləcəklər. Digər İKT platformaları ilə əlaqələri sıxlaşdırmaq və gənclərimizin İKT platfomlarından faydalanmağına şərait yaratmağa çalışacağıq.Tələbələrimizə xarici universitetlərdə, təhsil müəssisələrində və ya bu sahədəki digər platformlarda olan tədbirləri, layihələri tələbələrimiz üçün əlçatan edəcəyik.</p>
       <p>Mail: info@texnoera.az</p> 
       <p></p>
       <p>Sosial şəbəkələrdə biz:</p>

       <p></p>
       <p>İnstaqram:</p>
        
        <p>texnoera <a href="https://instagram.com/texnoera?igshid=1s04gl84xulic">https://instagram.com/texnoera?igshid=1s04gl84xulic</a> </p>
        
          
        <p>Facebook:</p>
        <p>TexnoEra <a href="https://www.facebook.com/texnoera">https://www.facebook.com/texnoera</a></p>
        <p>TexnoEra (Group) <a href="https://www.facebook.com/groups/texnoera1/">https://www.facebook.com/groups/texnoera1/</a> </p>
         
         
        
        <p>Telegram səhifə və qrupu:</p>
         <p>TexnoEra <a href="https://t.me/texnoera1">https://t.me/texnoera1</a> </p>
         <p>TexnoEra Group</p>
         
        <p>Linkedin:</p>
         <p>TexnoEra <a href="https://www.linkedin.com/company/texnoera">https://www.linkedin.com/company/texnoera</a> </p>
        
    
    </div>

 {% endblock %}
