{% extends 'base.html' %}
{% load static %}




 {% block menu %}


<div class="maincontainer">
<div class="post_list">
            <div class="post_list_tittle">
                <div class="post_list_tittle_name">
                   Axtarış nəticəsi
                </div>
                <hr>
            </div>


            {% for post in axtaris_posts %}
         
            <div class="post" onclick="location.href='{{ post.get_absolute_url }}';">
                <div class="post_img">
                    <img src="{{ post.thumbnail.url }}" width="100%" height="100%" alt="">
                </div>
                <div class="postmain">
                    
                    <div class="post_detail">
                        <div class="post_tittle">
                           {{ post.basliq }}
                        </div>
                        <div class="post_about">
                            {{ post.metin|safe|truncatechars_html:300 }}
                        </div>
                    </div>
                    <div class="post_extra_about">
                        <div class="post_cat">
                            <div class="post_cat_icon">
                                
                            <svg id="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0, 0, 400,400"><g id="svgg"><path id="path0" d="M0.000 85.156 L 0.000 129.688 44.531 129.688 L 89.063 129.688 89.063 85.156 L 89.063 40.625 44.531 40.625 L 0.000 40.625 0.000 85.156 M116.406 85.156 L 116.406 129.688 258.203 129.688 L 400.000 129.688 400.000 85.156 L 400.000 40.625 258.203 40.625 L 116.406 40.625 116.406 85.156 M0.000 200.000 L 0.000 244.531 44.531 244.531 L 89.063 244.531 89.063 200.000 L 89.063 155.469 44.531 155.469 L 0.000 155.469 0.000 200.000 M116.406 200.000 L 116.406 244.531 258.203 244.531 L 400.000 244.531 400.000 200.000 L 400.000 155.469 258.203 155.469 L 116.406 155.469 116.406 200.000 M0.000 314.844 L 0.000 359.375 44.531 359.375 L 89.063 359.375 89.063 314.844 L 89.063 270.313 44.531 270.313 L 0.000 270.313 0.000 314.844 M116.406 314.844 L 116.406 359.375 258.203 359.375 L 400.000 359.375 400.000 314.844 L 400.000 270.313 258.203 270.313 L 116.406 270.313 116.406 314.844 " stroke="none" fill="#000000" fill-rule="evenodd"></path></g></svg>

                               
                            </div>
                            <div class="post_cat_name">
                                {{ post.kategoriya }}
                            </div>
                        </div>
                        <div class="post_date">
                            <div class="post_date_icon">
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                width="100%" height="100%" viewBox="0 0 512.000000 512.000000"
                                preserveAspectRatio="xMidYMid meet">

                                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                                fill="#000000" stroke="none">
                                <path d="M1182 5109 c-45 -13 -108 -80 -121 -126 -6 -21 -11 -88 -11 -149 l0
                                -112 -192 -4 c-173 -4 -202 -8 -283 -32 -256 -77 -462 -281 -542 -541 l-28
                                -90 0 -1695 0 -1695 28 -90 c80 -259 283 -462 542 -542 l90 -28 866 0 865 0
                                41 27 c62 41 88 90 88 168 0 78 -26 127 -88 168 l-41 27 -840 5 -841 5 -58 23
                                c-111 45 -195 133 -234 246 -17 48 -18 138 -18 1686 0 1548 1 1638 18 1686 39
                                113 124 202 234 245 50 19 82 23 224 27 l167 4 3 -134 c4 -119 6 -137 28 -171
                                13 -21 42 -50 64 -65 34 -23 52 -27 107 -27 55 0 73 4 107 27 22 15 51 44 64
                                65 22 34 24 52 27 171 l4 132 448 0 448 0 4 -133 c3 -125 5 -136 30 -174 41
                                -63 90 -88 169 -88 54 0 72 5 106 27 22 15 51 44 64 65 22 34 24 52 27 171 l4
                                132 453 0 453 0 4 -133 c3 -125 5 -136 30 -174 41 -63 90 -88 169 -88 54 0 72
                                5 106 27 22 15 51 44 64 65 22 34 24 52 28 171 l3 134 172 -4 c145 -4 179 -7
                                225 -26 111 -44 189 -121 233 -229 l23 -58 5 -645 5 -645 24 -38 c13 -21 42
                                -50 64 -65 34 -22 52 -27 106 -27 79 0 128 25 169 88 l27 41 0 670 0 671 -28
                                90 c-80 259 -286 464 -542 541 -81 24 -110 28 -287 32 l-196 4 -4 132 c-3 124
                                -5 135 -30 173 -41 62 -90 88 -168 88 -78 0 -127 -26 -168 -88 -25 -38 -27
                                -49 -30 -174 l-4 -133 -453 0 -453 0 -4 133 c-3 118 -5 136 -27 170 -13 21
                                -42 50 -64 65 -34 22 -52 27 -106 27 -79 0 -128 -25 -169 -88 -25 -38 -27 -49
                                -30 -174 l-4 -133 -448 0 -448 0 -4 133 c-3 125 -5 136 -30 174 -15 22 -43 50
                                -62 62 -41 26 -125 35 -174 20z"/>
                                <path d="M1182 3209 c-48 -14 -109 -80 -123 -131 -23 -89 12 -182 88 -229 57
                                -36 154 -34 210 3 62 41 88 90 88 168 0 77 -26 127 -85 166 -43 29 -125 39
                                -178 23z"/>
                                <path d="M2052 3209 c-48 -14 -109 -80 -123 -131 -23 -89 12 -182 88 -229 57
                                -36 154 -34 210 3 62 41 88 90 88 168 0 77 -26 127 -85 166 -43 29 -125 39
                                -178 23z"/>
                                <path d="M2922 3209 c-48 -14 -109 -80 -123 -131 -23 -89 12 -182 88 -229 57
                                -36 154 -34 210 3 62 41 88 90 88 168 0 77 -26 127 -85 166 -43 29 -125 39
                                -178 23z"/>
                                <path d="M3792 3209 c-48 -14 -109 -80 -123 -131 -23 -89 12 -182 88 -229 57
                                -36 154 -34 210 3 62 41 88 90 88 168 0 77 -26 127 -85 166 -43 29 -125 39
                                -178 23z"/>
                                <path d="M3735 2405 c-264 -41 -505 -164 -687 -351 -96 -97 -162 -192 -224
                                -319 -164 -337 -164 -713 0 -1050 123 -251 311 -439 560 -560 339 -165 713
                                -165 1052 0 249 121 437 309 560 560 164 337 164 713 0 1050 -123 251 -311
                                439 -560 560 -222 108 -469 147 -701 110z m317 -399 c390 -77 668 -407 668
                                -796 0 -389 -278 -719 -668 -796 -277 -54 -585 59 -765 281 -248 306 -248 724
                                0 1030 180 221 488 335 765 281z"/>
                                <path d="M3842 1809 c-47 -14 -109 -80 -122 -129 -7 -27 -10 -129 -8 -289 l3
                                -248 27 -40 c15 -22 44 -51 65 -64 37 -23 44 -24 248 -24 204 0 211 1 248 24
                                21 13 50 42 65 64 37 56 39 153 3 210 -39 63 -89 90 -181 95 l-78 4 -4 137
                                c-3 122 -5 140 -27 174 -47 76 -151 113 -239 86z"/>
                                <path d="M1182 2339 c-48 -14 -109 -80 -123 -131 -23 -89 12 -182 88 -229 57
                                -36 154 -34 210 3 62 41 88 90 88 168 0 77 -26 127 -85 166 -43 29 -125 39
                                -178 23z"/>
                                <path d="M2052 2339 c-48 -14 -109 -80 -123 -131 -23 -89 12 -182 88 -229 57
                                -36 154 -34 210 3 62 41 88 90 88 168 0 77 -26 127 -85 166 -43 29 -125 39
                                -178 23z"/>
                                <path d="M1182 1469 c-48 -14 -109 -80 -123 -131 -23 -89 12 -182 88 -229 57
                                -36 154 -34 210 3 62 41 88 90 88 168 0 77 -26 127 -85 166 -43 29 -125 39
                                -178 23z"/>
                                <path d="M2052 1469 c-48 -14 -109 -80 -123 -131 -23 -89 12 -182 88 -229 57
                                -36 154 -34 210 3 62 41 88 90 88 168 0 77 -26 127 -85 166 -43 29 -125 39
                                -178 23z"/>
                                </g>
                                </svg>
                            </div>
                            <div class="post_date_name">
                               {{ post.posting_date|date:"d/m/Y" }}
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
            {% endfor %}

            

            {% if axtaris_posts.has_other_pages %}
            <ul class="pagination" style="justify-content: center; margin-top: 15px;">
              {% if axtaris_posts.has_previous %}
                <li><a style="position: relative;
                    display: block;
                    padding: .5rem .75rem;
                    margin-left: -1px;
                    line-height: 1.25;
                    color: #007bff;
                    background-color: #fff;
                    border: 1px solid #dee2e6;" href="?page={{ axtaris_posts.previous_page_number }}&axtaris={{ request.GET.axtaris }}">&laquo;</a></li>
              {% else %}
                <li class="disabled" ><span style="position: relative;
                    display: block;
                    padding: .5rem .75rem;
                    margin-left: -1px;
                    line-height: 1.25;
                    color: #007bff;
                    background-color: #fff;
                    border: 1px solid #dee2e6;">&laquo;</span></li>
              {% endif %}
              {% for i in axtaris_posts.paginator.page_range %}
                {% if axtaris_posts.number == i %}
                  <li class="aktiv" style="position: relative;
                  display: block;
                  padding: .5rem .75rem;
                  margin-left: -1px;
                  line-height: 1.25;
                  color: #007bff;
                  background-color: #fff;
                  border: 1px solid #dee2e6;"><span >{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li><a style="position: relative;
                    display: block;
                    padding: .5rem .75rem;
                    margin-left: -1px;
                    line-height: 1.25;
                    color: #007bff;
                    background-color: #fff;
                    border: 1px solid #dee2e6;" href="?page={{ i }}&axtaris={{ request.GET.axtaris }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if axtaris_posts.has_next %}
                <li><a style="position: relative;
                    display: block;
                    padding: .5rem .75rem;
                    margin-left: -1px;
                    line-height: 1.25;
                    color: #007bff;
                    background-color: #fff;
                    border: 1px solid #dee2e6;" href="?page={{ axtaris_posts.next_page_number }}&axtaris={{ request.GET.axtaris }}">&raquo;</a></li>
              {% else %}
                <li class="disabled"><span style="position: relative;
                    display: block;
                    padding: .5rem .75rem;
                    margin-left: -1px;
                    line-height: 1.25;
                    color: #007bff;
                    background-color: #fff;
                    border: 1px solid #dee2e6;">&raquo;</span></li>
              {% endif %}
            </ul>
          {% endif %}
        
           
        </div>


        <div class="secondcontainer">
            {% for reklam in reklam %}
            {% if reklam.ustyan %}
            <a target="_blank" href="{{ reklam.ustyanlink }}">
            <div  class="yanustreklam">
                <img src="{{ reklam.ustyan.url }}" alt="" width="100%" height="100%">

            </div>
            </a>
            {% endif %}
            {% endfor %}
            <div class="xususi_posts">
                <div class="xususi_posts_tittle">
                    <div class="xususi_posts_tittle_name">
                        XÜSUSİ ELANLAR
                    </div>
                    <hr style="margin-top: 0; margin-bottom: 0; background-color: #0E44AC; height: 1px;">
                </div>

                {% for post in reklamli %}
                <div class="x_post" onclick="location.href='{{ post.get_absolute_url }}';">
                    <div class="x_post_img">
                        <img src="{{ post.thumbnail.url }}" width="100%" height="100%" alt="">
                    </div>
                    <div class="x_post_post">
                        
                        <div class="x_post_detail">
                            <div class="x_post_tittle">
                                {{ post.basliq }}
                            </div>
                            
                        </div>
                        <div class="x_post_extra_about">
                            
                            <div class="post_date">
                                <div class="post_date_icon">
                                    

                                  <svg id="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0, 0, 400,400"><g id="svgg"><path id="path0" d="M89.975 1.634 C 83.754 4.792,82.463 7.889,82.169 20.369 L 81.916 31.094 65.763 31.428 C 33.006 32.105,12.255 46.277,2.535 74.609 L 0.391 80.859 0.391 215.625 L 0.391 350.391 2.535 356.641 C 9.213 376.106,23.894 390.787,43.359 397.465 L 49.609 399.609 117.866 399.829 L 186.124 400.049 189.598 398.368 C 200.255 393.208,200.288 375.557,189.649 370.407 C 186.251 368.762,185.772 368.750,125.339 368.735 C 89.022 368.725,62.246 368.404,58.984 367.938 C 44.736 365.903,34.097 355.264,32.062 341.016 C 30.998 333.566,30.998 97.684,32.062 90.234 C 34.767 71.292,47.739 62.560,73.242 62.515 L 82.031 62.500 82.031 72.410 C 82.031 88.344,85.772 93.359,97.656 93.359 C 109.541 93.359,113.281 88.344,113.281 72.410 L 113.281 62.500 148.438 62.500 L 183.594 62.500 183.594 72.410 C 183.594 88.344,187.334 93.359,199.219 93.359 C 211.103 93.359,214.844 88.344,214.844 72.410 L 214.844 62.500 250.391 62.500 L 285.938 62.500 285.938 72.410 C 285.937 88.344,289.678 93.359,301.562 93.359 C 313.447 93.359,317.187 88.344,317.188 72.410 L 317.188 62.500 326.367 62.515 C 344.002 62.545,351.618 64.808,359.030 72.220 C 368.407 81.597,368.715 83.789,368.735 141.355 C 368.750 186.263,368.777 187.062,370.407 190.430 C 375.561 201.077,393.208 201.036,398.374 190.366 C 400.060 186.882,400.062 186.824,399.835 133.869 L 399.608 80.859 397.464 74.609 C 387.692 46.116,367.012 32.091,333.789 31.426 L 317.188 31.095 317.188 21.263 C 317.187 5.414,313.427 0.391,301.562 0.391 C 289.678 0.391,285.938 5.406,285.938 21.340 L 285.938 31.250 250.391 31.250 L 214.844 31.250 214.844 21.340 C 214.844 5.406,211.103 0.391,199.219 0.391 C 187.334 0.391,183.594 5.406,183.594 21.340 L 183.594 31.250 148.438 31.250 L 113.281 31.250 113.281 21.340 C 113.281 9.604,112.029 5.949,106.828 2.507 C 102.414 -0.414,94.788 -0.809,89.975 1.634 M89.975 150.071 C 80.058 155.105,79.173 171.018,88.467 177.169 C 102.197 186.255,118.907 171.489,111.713 156.628 C 108.128 149.223,97.790 146.104,89.975 150.071 M157.944 150.071 C 148.027 155.105,147.141 171.018,156.436 177.169 C 170.166 186.255,186.876 171.489,179.681 156.628 C 176.096 149.223,165.759 146.104,157.944 150.071 M225.913 150.071 C 215.996 155.105,215.110 171.018,224.404 177.169 C 238.134 186.255,254.844 171.489,247.650 156.628 C 244.065 149.223,233.728 146.104,225.913 150.071 M293.881 150.071 C 283.965 155.105,283.079 171.018,292.373 177.169 C 306.103 186.255,322.813 171.489,315.619 156.628 C 312.034 149.223,301.696 146.104,293.881 150.071 M288.012 212.138 C 228.442 223.355,194.372 287.921,218.635 343.613 C 241.834 396.864,309.051 416.708,357.676 384.662 C 395.789 359.543,410.605 309.336,392.302 267.324 C 375.076 227.784,330.418 204.153,288.012 212.138 M89.975 218.040 C 80.058 223.074,79.173 238.987,88.467 245.138 C 102.197 254.223,118.907 239.458,111.713 224.597 C 108.128 217.191,97.790 214.073,89.975 218.040 M157.944 218.040 C 148.027 223.074,147.141 238.987,156.436 245.138 C 170.166 254.223,186.876 239.458,179.681 224.597 C 176.096 217.191,165.759 214.073,157.944 218.040 M318.931 244.235 C 372.643 256.452,385.839 326.677,340.226 357.562 C 299.105 385.406,242.969 355.337,242.969 305.469 C 242.969 265.567,280.324 235.454,318.931 244.235 M297.788 259.446 C 295.851 260.429,293.512 262.511,292.319 264.312 L 290.234 267.460 290.003 288.487 C 289.653 320.209,289.935 320.563,315.813 320.943 C 338.879 321.281,343.359 318.764,343.359 305.469 C 343.359 294.910,337.960 289.844,326.706 289.844 L 321.094 289.844 321.094 279.544 C 321.094 267.379,319.890 263.794,314.640 260.319 C 310.226 257.398,302.600 257.003,297.788 259.446 M89.975 286.009 C 80.058 291.043,79.173 306.956,88.467 313.106 C 102.197 322.192,118.907 307.427,111.713 292.565 C 108.128 285.160,97.790 282.042,89.975 286.009 M157.944 286.009 C 148.027 291.043,147.141 306.956,156.436 313.106 C 170.166 322.192,186.876 307.427,179.681 292.565 C 176.096 285.160,165.759 282.042,157.944 286.009 " stroke="none" fill="#000000" fill-rule="evenodd"></path></g></svg>                                    
                                </div>
                                <div class="post_date_name">
                                   {{ post.posting_date|date:"d/m/Y" }}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>

                {% endfor %}
                



            </div>
            {% for reklam in reklam %}
            {% if reklam.altyan %}
            <a target="_blank" href="{{ reklam.altyanlink }}">
                <div  class="yanaltreklam">
                    <img src="{{ reklam.altyan.url }}" alt="" width="100%" height="100%">
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>

    </div>


    {% endblock %}