{% extends 'base.html' %}
{% load static %}




 {% block menu %}

 <div class="abouttxt">
    <h2 style="font-family: Poppins; color: #0E44AC;">Niyə biz</h2>
    <h5>Texnoera.az</h5>
 </div>
    <div class="abouttxt">
        
        <p>First appearing in print in 1887's A Study in Scarlet, the character's popularity became widespread with the first series of short stories in The Strand Magazine, beginning with "A Scandal in Bohemia" in 1891; additional tales appeared from then until 1927, eventually totalling four novels and 56 short stories. All but one are set in the Victorian or Edwardian eras, between about 1880 and 1914. Most are narrated by the character of Holmes's friend and biographer Dr. John H. Watson, who usually accompanies Holmes during his investigations and often shares quarters with him at the address of 221B Baker Street, London, where many of the stories begin.</p> 
        <p></p>
        <p>Though not the first fictional detective, Sherlock Holmes is arguably the best known.[1] By the 1990s there were already over 25,000 stage adaptations, films, television productions and publications featuring the detective,[2] and Guinness World Records lists him as the most portrayed literary human character in film and television history.[3] Holmes's popularity and fame are such that many have believed him to be not a fictional character but a real individual;[4][5] numerous literary and fan societies have been founded on this pretense. Avid readers of the Holmes stories helped create the modern practice of fandom.[6] The character and stories have had a profound and lasting effect on mystery writing and popular culture as a whole, with the original tales as well as thousands written by authors other than Conan Doyle being adapted into stage and radio plays, television, films, video games, and other media for over one hundred years.</p>
    </div>

 {% endblock %}
